.buttonDisk {
  border-radius: 50%;
  border-width: 0px;
  margin: 12px;
  outline-width: 0px;
}

.colorA {
  background: rgba(255, 215, 0, 1);
  color: rgba(0, 0, 0, 1);
}

.colorB {
  background: rgba(153, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

.labelM {
  font-size: 125%;
}

.labelL {
  font-size: 150%;
}

.labelXL {
  font-size: 200%;
}

.labelBold {
  font-weight: Bold;
}

.gridBackground {
  background-image: url('../pixmaps/background.jpg');
}

.gridGameGrid {
  background-image: radial-gradient(rgba(0, 0, 128, 1), rgba(0, 0, 64, 1));
}

.padding0 {
  padding: 0;
}
